<h4>{{title}}</h4>
<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Tone</th>

            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this._id}} </td>
                <td>{{this.name}} </td>
                <td>{{this.email}} </td>
                <td>{{this.address}} </td>
                <td>{{this.tone}} </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<body onload="myfunction()"></body>
<script>
    function myfunction() {
        const todo = {
            name: "Sooraj",
            email: "ragesh@gmail.com",
            address: "25 crestwood"
        }

        fetch('/api/user', {
            method: 'POST',
            body: JSON.stringify(todo),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        });
        window.scrollTo(0, document.body.scrollHeight);
    }
</script>